.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
  
   
}

.card{
    width: 45vw;
    height: 33vh;
    margin-top: 1.2em;
    box-shadow: 1px 1px .7px rgba(82, 80, 77, .6);
    text-align: center;
    margin-left: .6em;
    
   
}

i{
    margin: 0 auto;
    margin-top: 15px;
    padding: 25px;
    font-size: 3.8rem;
    color: tomato;
    
}

h3{
   
    font-size: 18px;
  
}

