nav {
  background-color: rgb(56, 46, 87);
}

ul {
  font-weight: bold;
  list-style: none;
  color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 0.65em;
}
